---
layout: page
title: Publications
---
<!-- portfolio -->
<section class="section">
  <div class="container">

    <!-- Opening Text -->
    <div class="row mb-5">
      <div class="col-12">
        <p class="lead text-left">
          Explore our publications. Click on any entry to view the full details.
        </p>
      </div>
    </div>
    <!-- /Opening Text -->

    <!-- Filter Buttons -->
    <div class="row mb-5">
      <div class="col-12">
        <div class="btn-group btn-group-toggle justify-content-center d-flex" data-toggle="buttons">
          <label class="btn btn-sm btn-primary active">
            <input type="radio" name="shuffle-filter" value="all" checked="checked" />All
          </label>
          {% for label in site.data.settings.portfolio-label %}
          <label class="btn btn-sm btn-primary">
            <input type="radio" name="shuffle-filter" value="{{ label.type }}" />{{ label.title }}
          </label>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- /Filter Buttons -->

    <!-- Publications Items -->
    <div class="row shuffle-wrapper">
      {% for item in site.data.settings.portfolio-items %}
      <div class="col-lg-6 col-md-6 col-12 mb-4 shuffle-item" data-groups="[{% for portfolio in item.portfolio-type %}{% if forloop.first == true %}{% else %},{% endif %}&quot;{{ portfolio.type }}&quot;{% endfor %}]">
        <div class="d-flex align-items-start">
          <!-- Image -->
          <img src="{{ site.baseurl }}/{{ item.image }}" alt="publication-image" class="img-fluid rounded w-25 mr-3">

          <!-- Text -->
          <div class="publication-text">
            <h5 class="font-weight-bold">
              <a href="{{ item.url }}" target="_blank" class="text-dark">{{ item.title }}</a>
            </h5>
            <p class="text-muted mb-2">
              {{ item.description }}
            </p>
            <a class="btn btn-primary btn-sm" href="{{ item.url }}" target="_blank">View Publication</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- /Publications Items -->

  </div>
</section>
<!-- /portfolio -->
