.card-lg {
  flex-direction: row-reverse;
  align-items: center;

  @include desktop {
    flex-direction: column;
  }
}

blockquote > p {
  display: inline-block;
  padding: 10px 20px;
  background: $gray;
  border-left: 2px solid $primary-color;
  font-style: italic;
  font-size: 22px;
  line-height: inherit;
}

.content {
  * {
    margin-bottom: 20px;
  }

  strong {
    font-family: $secondary-font;
    font-size: 22px;
    font-weight: normal;
    color: $text-color-dark;
    display: inherit;
    line-height: 1.5;
  }

  img.main-image {
    max-width: 800px; // Large size for the first image
    width: 100%; // Keep it responsive
    height: auto; // Maintain aspect ratio
    margin-bottom: 20px; // Add spacing below
    margin-right: 20px; // Add spacing to the right
    float: left; // Align it to the left
    border-radius: 8px;
  }

  /* Styling for the second (additional) image */
  img.additional-image {
    max-width: 600px; // Larger size for the second image
    width: 100%; // Keep it responsive
    height: auto; // Maintain aspect ratio
    margin-bottom: 20px; // Add spacing below
    margin-right: 20px; // Add spacing to the right
    float: left; // Align it to the left
    border-radius: 8px;

    @include desktop {
      max-width: 700px; // Slightly larger on desktop screens
    }
  }
}
